@using Comp2007_Assignment_2.Models
@model IEnumerable<FoodType>

@{
    ViewBag.Title = "Index";
}

<h2>Browse Types</h2>

<p>
    Select from @Model.Count()
    foodtype:
</p
<ul>
@foreach (var FoodType in Model)
{
    <li>@Html.ActionLink(FoodType.name, "Browse", new {FoodType = FoodType.name })</li>
}
</ul>
